.button {
  background-color: var(--yellow-color);
  padding: 18px 40px;
  width: max-content;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  color: var(--secondary-color);
  font-family: var(--font-inter);
  transform-origin: top;
}
.link {
  text-decoration: none;
}
