:root {
  --primary-color: #639cff;
  --secondary-color: #051a6f;
  --yellow-color: gold;
  --light-color: #e3e8f9;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-lora);
}
